#CryptMax{
    padding-top: 80px;
}

.CryptMax{
    display: flex;
    .first-line{
        width: 380px;
        img{
            padding-bottom: 30px;
        }
        p{
            color: var(--a-tag);
            font-size: 16px;
            letter-spacing: 0.4px;
            white-space: nowrap;
            padding-bottom: 15px;
        }

        .link{
            display: flex;
            gap: 15px;
            cursor: pointer;
        }
    }

    .sub-lines{
        position: relative;
        right: -120px;
        display: flex;
        margin-top: 20px;
        .second-line{
            padding-right: 180px;
            display: flex;
            flex-direction: column;
            h2{
                font-size: 20px;
                font-weight: 500;
                padding-bottom: 40px;
            }
            a{
                color: var(--a-tag);
                font-size: var(--a-tag);
                font-weight: 500;
                padding-bottom: 5px;
                white-space: nowrap;


            }
        }
        
        p{
            color: var(--a-tag);
            font-size: 16px;
            letter-spacing: 0.4px;
            font-weight: 400;
        }
        .input-btn{
            display: flex;
            margin-top: 15px;
            input{
                width: 240px;
                height: 50px;
                border: solid 1px rgba(204, 204, 204, 1);
                border-radius: 7px;
                outline: none;
                padding-left: 10px;
                font-size: 14px;
                color: var(--a-tag);
                background-color: var(--input-bg);
            }
            img{
                position: relative;
                left: -40px;
            }
        }
    }
    

   

}
 .hr-footer{
        margin-top: 25px;
        border: solid 1px rgba(204, 204, 204, 1);
    }

.last-footer{
        p{
        font-weight: 400;
        font-size: var(--a-tag-size);
        color: var(--a-tag);
        text-align: center;
        padding-block: 20px;
        }
    }