#marketplace{
    background-color: rgba(246, 247, 248, 1);
    padding-top: 100px;
    padding-bottom: 80px;
}
.marketplace{
.mar-head{
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    h2{
        font-size: 40px;
        font-weight: 700;
    }
    p{
        font-size: 14px;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 15px;
        border: solid 1px rgba(204, 204, 204, 1);
        border-radius: 7px;
        padding: 1px 20px;
        span{
            width: 30px;
        }
    }
}
}



.mar-content{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    padding: 50px 100px;
}

.mar-text{
    .text-1{
        display: flex;
        padding-bottom: 30px;
        h2{
            font-size: 25px;
            font-weight: 700;
            position: relative;
            left: -38px;
        }
        img{
            position: relative;
            left: -60px ;
        }
    }

    .text-2{
        font-size: 16px;
        color: var(--a-tag);
        font-weight: 400;
        padding-bottom: 20px;
    }

    .text-3{
        p{
            padding-bottom: 10px;
            color: var(--a-tag);
            font-size: 16px;
            font-weight: 400;
            
        }
    }
}