#seller{
    padding: 80px 0;
}

.seller{
    .head-sell{
    display: flex;
    justify-content: space-between;
    align-items: center;
        h3{
            font-size: 40px;
            font-weight: 700;
            display: flex;
            align-items: center;
            gap: 13px;
            ion-icon{
                font-size: 23px;
            }
        }

        p{
            border: 1px solid var(--a-tag);
            border-radius: 6px;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            gap: 120px;
            font-size: var(--a-tag-size);
            font-weight: 700;
            span{
                width: 30px;
                cursor: pointer;
            }
        }
    }
}
.pr-imp{
    background: #F3F4F5;
    width: 400px;
    border-radius: 12px;
    margin-top: 80px;
    height: 270px;
}
.profile{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    position: relative;
    bottom: 50px;
    h4{
        font-size: 18px;
        font-weight: 700;
        padding-block: 13px;
    }
    .achive{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    p{
        font-size: 13px;
        font-weight: 700;
        padding-block: 14px;
    }
    .hr2{
        border: 0.1px solid #CCCCCC;
        width: 100%;
        margin-bottom: 15px;
    }
    button{
        background: var(--add-color);
        border-radius: 5px;
        padding: 8px 15px;
        display: flex;
        align-items: center;
        color: white;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        ion-icon{
            font-size: 14px;
            font-weight: 500;
            margin-right: 10px;
        }
    }
}

.important-person{
    display: flex;
    justify-content: center;
    gap: 100px;
    position: relative;
}

.arrow-left{
    position: absolute;
    left: -90px;
    top: 170px;
    cursor: pointer;
}
.arrow-right{
    position: absolute;
    right: -90px;
    top: 170px;
    cursor: pointer;
}