:root {
    --color-1: #3498db;
    --color-2: #2ecc71;
    --font-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --spacing-small: 15px;
    --spacing-medium: 30px;
    --spacing-large: 50px;
}

:root {
    --blue-1: #3772FF;
    --a-tag: #888888;
    --add-color: #9757D7;
    --ETH-color: #45B26B;
    --explore-blue: #3772FF33;
    --a-tag-size: 14px;
}






